@use "../style.scss";

.about {
    padding: 2% 10% 5% 10%;

    h1 {
        padding: 2% 1%;
        border-bottom: 2px solid $first-color;
    }

    p {
        padding: 1%;
    }

    p:first-letter {
        font-size: 125%;
    }
}

@media screen and (width <= 480px) {
    .about {
        padding: 5% 5%;
    }    
}